__pycache__/
*.pyc
*.pyo
*.log
*.out
*.err
*.pth
*.pt
*.ckpt
*.onnx
*.npz
*.npy
*.nii
*.nii.gz
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.zip
*.tar
*.tar.gz
outputs_semantic_ddp/
semantic_launcher_logs/*.log
semantic_launcher_logs/*.nohup
datasets/
data/
wandb/
runs/
checkpoints/
